=render @proposition.offer
%p
  ="by : #{@proposition.user.username}"
%p
  ="validate by owner : #{@proposition.owner_validation}"
%p
  ="validate by user : #{@proposition.user_validation}"

%script
  let sub = subscribe(
  = @proposition.id
  );
  hi()