%p
  ="by : #{@proposition.user.username}"
%p
  ="for : #{@proposition.offer.title}"
%p
  ="validate by owner : #{@proposition.owner_validation}"
%p
  ="validate by user : #{@proposition.user_validation}"
