@font-face {
  font-family: Morganite;
  src: font_url("Morganite/Morganite-Light.ttf") format("truetype");
}
@font-face {
  font-family: Muli;
  src: font_url("Muli-VariableFontwght.ttf") format("truetype");
}