%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Navbar
  %button.navbar-toggler{ aria: { controls: 'navbarSupportedContent', expanded: :false, label: "Toggle navigation" }, data: {target: "#navbarSupportedContent", toggle: :collapse}, type: :button}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: "/offers"}
          Offres
          //%span.sr-only (current)
    %div.my-2.my-lg-0
      - if user_signed_in?
        = link_to 'Logout', '/users/sign_out', method: :delete, class: "btn btn-outline-success my-2 my-sm-0"
      - else
        = link_to 'Login', '/users/sign_in', class: "btn btn-outline-success my-2 my-sm-0"
        = link_to 'Register', '/users/sign_up', class: "btn btn-outline-success my-2 my-sm-0"
